<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book_Manager</title>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>PUBLISHER</th>
        </tr>
        <tr th:each= "book:${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.publisher.publisherName}"></td>
        </tr>
    </table>
</body>
</html>